Networked Software for Distributed Systems/Node Red/NodeRed-IoT_Task/10901682_10902759/NodeRedFLowJSON.txt
[{"id":"d8346c56.8842a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b04f53c8.1ddf9","type":"function","z":"d8346c56.8842a","name":"ExtractingID","func":"var count = global.get(\"count\") || 0;\n\nif (count < 100) {\n  var inputString = msg.payload;\n  var idValue = parseInt(JSON.parse(inputString).id, 10) || 0;\n  var result = (idValue + 1682) % 7711;\n  count++;\n  global.set(\"count\", count);\n  var countnew = count;\n  global.set(\"ID\",result)\n  var globalID=global.get(\"ID\");\n  msg.payload = {\n    \"id\": idValue,\n    \"result\": result.toString(),\n    \"count\": countnew,\n    \"globalID\":globalID \n    \n  };\n} else {\n  msg.payload = \"Count reached 100, execution stopped.\";\n  global.set(\"ID\",-10)\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["2bb9612c.14dbee","fc28dc50.011058"]]},{"id":"1ac0df22.429251","type":"mqtt in","z":"d8346c56.8842a","name":"","topic":"polimi/challenge_2/2023/id_code_generator/40","qos":"0","broker":"1fcd07.d15ddaf9","x":220,"y":280,"wires":[["b04f53c8.1ddf9"]]},{"id":"66bddaa5.c54cc4","type":"csv","z":"d8346c56.8842a","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":250,"y":140,"wires":[["404ba7b9.644428"]]},{"id":"2bb9612c.14dbee","type":"file in","z":"d8346c56.8842a","name":"","filename":"/home/user/Desktop/challenge2023_2.csv","format":"utf8","chunk":false,"sendError":false,"x":360,"y":180,"wires":[["66bddaa5.c54cc4"]]},{"id":"97b82a4e.48c87","type":"file","z":"d8346c56.8842a","name":"","filename":"/home/user/Desktop/Rows.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1000,"y":140,"wires":[[]]},{"id":"fc28dc50.011058","type":"debug","z":"d8346c56.8842a","name":"ID-Check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":240,"wires":[]},{"id":"404ba7b9.644428","type":"function","z":"d8346c56.8842a","name":"FindCorrespondingRow","func":"const array=msg.payload;\nconst ID = global.get(\"ID\");\nlet row = null;\nfor (let i = 0; i < array.length; i++) {\n  if (array[i][\"No.\"] === ID) {\n    row = array[i];\n    break;\n  }\n}\nif (row) {\n  node.send({ payload: row });\n}","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["542d8305.ef7f5c","97b82a4e.48c87","8e382063.c06f98"]]},{"id":"542d8305.ef7f5c","type":"debug","z":"d8346c56.8842a","name":"RowOfCSV","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":180,"wires":[]},{"id":"c77185f6.a47eb8","type":"debug","z":"d8346c56.8842a","name":"IfPublishCheck","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":220,"wires":[]},{"id":"8e382063.c06f98","type":"switch","z":"d8346c56.8842a","name":"Publish Message Check","property":"payload.Info","propertyType":"msg","rules":[{"t":"cont","v":"Publish Message","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":240,"wires":[["c77185f6.a47eb8","4e5bf4e2.73d2dc"]]},{"id":"4e5bf4e2.73d2dc","type":"function","z":"d8346c56.8842a","name":"Create Subscribe Message","func":"try {\n    const messages = msg.payload[\"Message\"].split(\"},\");\n    \n    const globalID=global.get(\"ID\")\n    console.log(messages.length)\n    for (let i = 0; i < messages.length; i++) {\n        if (i < messages.length - 1) {\n            msg.payload = {\n                \"timestamp\": Date.now(),\n                \"id\": globalID,\n                \"payload\": messages[i] + \"}\"\n            };\n        } else {\n            msg.payload = {\n                \"timestamp\": Date.now(),\n                \"id\": globalID,\n                \"payload\": messages[i]\n            };\n        }\n        \n        node.send(msg);\n    }\n    \n} catch (error) {\n    \n    msg.payload = {\n        \"timestamp\": Date.now(),\n        \"id\": global.get(\"ID\"),\n        \"payload\": msg.payload[\"Message\"]\n    };\n    \n    node.send(msg);\n}","outputs":1,"noerr":0,"x":870,"y":340,"wires":[["e657d873.751118","6b496f8b.6c6558"]]},{"id":"e657d873.751118","type":"debug","z":"d8346c56.8842a","name":"checkSubscribeMessage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1160,"y":380,"wires":[]},{"id":"6b496f8b.6c6558","type":"mqtt out","z":"d8346c56.8842a","name":"MQTT Publisher","topic":"/polimi/iot2023/challenge2/10901682","qos":"","retain":"","broker":"1fcd07.d15ddaf9","x":930,"y":440,"wires":[]},{"id":"e2d85c0a.bbf418","type":"mqtt in","z":"d8346c56.8842a","name":"","topic":"/polimi/iot2023/challenge2/10901682","qos":"2","broker":"1fcd07.d15ddaf9","x":200,"y":580,"wires":[["ea048671.8a38c8","2ccd40a5.6a51f","e711b6a8.c8df"]]},{"id":"ea048671.8a38c8","type":"debug","z":"d8346c56.8842a","name":"ReceivePublishedOne","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":520,"wires":[]},{"id":"e1825911.f08b28","type":"debug","z":"d8346c56.8842a","name":"WillBeFiltered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":720,"wires":[]},{"id":"9222a1b9.56faa8","type":"debug","z":"d8346c56.8842a","name":"CelciusMessages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":800,"wires":[]},{"id":"2ccd40a5.6a51f","type":"json","z":"d8346c56.8842a","name":"","property":"payload","action":"","pretty":false,"x":460,"y":620,"wires":[["e1825911.f08b28","40921f1a.da1ce"]]},{"id":"40921f1a.da1ce","type":"function","z":"d8346c56.8842a","name":"FilteringCelsius","func":"  var deneme=msg.payload;\n  if (deneme.payload) {\n    const parsed = JSON.parse(deneme.payload);\n    if (parsed.unit === 'C') {\n      return msg;\n    }\n}\n      ","outputs":1,"noerr":0,"x":720,"y":640,"wires":[["9222a1b9.56faa8","f06c1c0d.5da858","c8406261.07a5b8","a0bbf5d0.0e087"]]},{"id":"f06c1c0d.5da858","type":"function","z":"d8346c56.8842a","name":"highRangeTemp","func":"var deneme=msg.payload;\nlet upperBound= -Infinity;\nlet result=null;\n\nif(deneme.payload){\n\tconst parsed=JSON.parse(deneme.payload);\n\tconst range=parsed.range;\n\n\t\n\tpayload=range[1];\n\n\tmsg.payload = {\n          payload\n        };\n}\n\nreturn msg.payload;","outputs":1,"noerr":0,"x":980,"y":580,"wires":[["ec92c444.6219a8","e10ff8ee.4f5"]]},{"id":"ec92c444.6219a8","type":"debug","z":"d8346c56.8842a","name":"highTemp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1310,"y":660,"wires":[]},{"id":"e10ff8ee.4f5","type":"ui_chart","z":"d8346c56.8842a","name":"","group":"46d73219.bbfb74","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Deneme","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1390,"y":620,"wires":[[],[]]},{"id":"16ae7e39.6e17fa","type":"csv","z":"d8346c56.8842a","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"TemperatureInCelsius","skip":"1","x":1150,"y":460,"wires":[["67843b25.db96ac"]]},{"id":"67843b25.db96ac","type":"file","z":"d8346c56.8842a","name":"","filename":"/home/user/Desktop/trialFilteredRangeTemp.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1400,"y":420,"wires":[[]]},{"id":"76fa30b8.f496d8","type":"file","z":"d8346c56.8842a","name":"","filename":"/home/user/Desktop/trialFilteredCelsiusPayloads.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1240,"y":760,"wires":[[]]},{"id":"6a6851d2.ac4058","type":"debug","z":"d8346c56.8842a","name":"SavingTemperatureNumbers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1430,"y":540,"wires":[]},{"id":"cea0f198.08c668","type":"debug","z":"d8346c56.8842a","name":"PayloadCheck","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":700,"wires":[]},{"id":"c8406261.07a5b8","type":"csv","z":"d8346c56.8842a","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"timestamp,id,payload","skip":"0","x":920,"y":740,"wires":[["cea0f198.08c668","76fa30b8.f496d8"]]},{"id":"a0bbf5d0.0e087","type":"function","z":"d8346c56.8842a","name":"SaveTemperatureNumbers","func":"var deneme=msg.payload;\nlet upperBound= -Infinity;\nlet result=null;\n\nif(deneme.payload){\n\tconst parsed=JSON.parse(deneme.payload);\n\tconst range=parsed.range;\n\n\t\n\tTemperatureInCelsius=range[1];\n\n\tmsg.payload = {\n          TemperatureInCelsius\n        };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":520,"wires":[["16ae7e39.6e17fa","6a6851d2.ac4058"]]},{"id":"e711b6a8.c8df","type":"debug","z":"d8346c56.8842a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":680,"wires":[]},{"id":"1fcd07.d15ddaf9","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46d73219.bbfb74","type":"ui_group","z":"","name":"MyDashboard","tab":"cc468d3d.3d309","disp":true,"width":"6","collapse":false},{"id":"cc468d3d.3d309","type":"ui_tab","z":"","name":"HomeIot","icon":"dashboard"}]
